
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;font-family: "Monterrat", sans-serif;
  
}
h1 {
    font-family: "Monterrat", sans-serif;
	
}
.body{
    background-image: url(bg.svg) ;  
     background-size:cover;
    background-repeat: no-repeat;
    background-position: center center; 
     height: 100vh;
    font-family:Montserrat ;
    font-weight: 600;
    font-size: 16px;
	

}
   



a{
    text-decoration:none ;
}
header{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px; 
    

}
.nav-area{
    list-style: none;
}

.nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}
.nav-area li a {
    color: black;
}
.nav-area li a:hover{
    color: rgb(240, 166, 54);
}
.btn-area{
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 16px;
    background: #FE5C4D;
   
  
   
}
.title{

   
    width: 130%;
    font-size:0.9vw ;
   
}


.iconHolder h5{
	font-size:1vw ;
}
 
.icon{
    display: flex;
}

.control{
   
    padding-left: 30vw;
	

}

.btn{
     display: flex;
    justify-content: space-between ;
    width: 300px;
	margin-top: 25px;

    
}


.btnBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FE5C4D;
    border-radius: 7px;
    padding: 5px 25px;
    width: fit-content;
    height: 30px;
}

@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding: 0px;
	background-color: #FFFFFF;
}
a{
	text-decoration:none;
}
.social a{
	padding: 20px;
	color:#7b7c7c;
	font-size:1.1rem;
}
#contact{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	align-items: center;
}
.social{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}
.social a:hover{
	color:#000000;
	transition: all ease 0.3s;
}
.contact-box{
	background-color:#434445;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 30px;
	box-shadow: 2px 0px 30px rgba(0,0,0,0.1);
}
.c-heading h1{
	font-family: Roboto;
	color: #e7eef3;
	font-size: 2.5rem;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
}
.c-heading p{
	font-family: Roboto;
	color:#cecece;
	font-size: 0.8rem;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.c-inputs{
	margin: 15px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.c-inputs input{
	width:250px;
	height: 45px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(251,251,251,0.1);
	outline: none;
	margin: 10px 0px;
	padding: 10px;
	box-sizing: border-box;
	color: #f4f4f4;
	display: flex;
}
.c-inputs textarea{
	width:250px !important;
	height: 200px !important;
	outline: none;
	background-color: transparent;
	border:1px solid rgba(82,82,82,1);
	color: #f4f4f4;
	padding: 10px;
	font-size: 1.2rem;
	box-sizing: border-box;
}
.c-inputs button{
	width:200px;
	height: 40px;
	background-color: #FFFFFF;
	border: none;
	outline: none;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	letter-spacing: 1px;
}
.c-inputs input:focus{
	border-bottom: 1px solid rgba(252,252,252,1.00);
	transition: all ease 0.5s;
}
.c-inputs textarea:focus{
	border: none;
	border-bottom: 1px solid rgba(255,255,255,1.00);
	transition: all ease 0.5s;
	background-color: rgba(0,0,0,0.1);
}
.c-inputs button:active{
	transform: scale(1.02);
}
.map{
	filter: grayscale(0.2);
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border: 2px solid #FFFFFF;
}
.logo{
	width: 20%;
	height: 50%;
	padding-top: 10px;
}
@media only screen and (min-width: 501px) and (max-width: 1140px){
	
	.map{
		display: none;
	}
	.title{

   
		font-size:1vw ;
	   
	}
	.menu-toggle{
		display: block;
		width: 40px;
		height: 40px;
		margin:10px;
		background-color: #fff;
		float: right;
		cursor: pointer;
		text-align: center;
		font-size: 30px;
		color: #F11E1E;
		
	}
	.menu-toggle:before{
		content: '\f0c9';
		font-family: fontAwesome;
		line-height: 40px;
	}
	.menu-toggle.active:before{
		content: '\f00d';
	}
	nav{
		display: none;
	}
	nav.active{
		display: block;
		width: 100%;

	}
	nav.active ul{
		display: block;
		background: #666666;
		padding-top: 0;
	}
	.logo{
		width: 60%;
		height: 50%;
		padding-top: 10px;
	}
	header{
		display: block;
	}
	
	.iconHolder h5{
		font-size:1vw ;
	}
}
@media(max-width:500px){
	.social{
		display: none;
	}
	.contact-box{
		width: 100%;
		height: 100vh;
		box-sizing: border-box;
	}
	#contact{
		position: static;
		transform: translate(0,0);
		width:100%;
		height: 100vh;
		box-sizing: border-box;
	}
	.c-heading h1{
		font-size: 2.2rem;
		text-align: center;
	}
	.title{

   
		font-size:3vw ;
	   
	}
	
	
	.iconHolder h5{
		font-size:3vw ;
	}
	.menu-toggle{
		display: block;
		width: 40px;
		height: 40px;
		margin:10px;
		background-color: #fff;
		float: right;
		cursor: pointer;
		text-align: center;
		font-size: 30px;
		color: #F11E1E;
		
	}
	.menu-toggle:before{
		content: '\f0c9';
		font-family: fontAwesome;
		line-height: 40px;
	}
	.menu-toggle.active:before{
		content: '\f00d';
	}
	nav{
		display: none;
	}
	nav.active{
		display: block;
		width: 100%;

	}
	nav.active ul{
		display: block;
		background: #666666;
		padding-top: 0;
	}
	.logo{
		width: 60%;
		height: 50%;
		padding-top: 10px;
	}
	header{
		display: block;
	}




	
}
 
.cards-holder{
    display:flex;
    justify-content:space-evenly ;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
} 
.card-holder{

    width: 330px;
    height: 180px;
    border-radius: 40px;
    background: #E7E6EE;
    margin: 20px
}
.image{
    width: 94%;
    min-height: 128px;
    height: 73%;
    border-radius: 29px 29px 0px 0px;
    
    background-size: cover;
	background-position: center center;
    display: flex;
    justify-content: flex-end;
    margin: 8px;
    padding: 10px;
}
.vv{
    display: flex;
    justify-content: space-evenly;
    
}

/*footer*/

  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.imaa{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 10%;
	float: left;
	margin-left: 20px;
	
	
}
.imaa img{
	width: 20%;
	padding-right: 40px;
}

.iconHolder{
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	gap: 20px;
	margin-top: 20px;
	position: relative;
}
.voiture{
	display: flex;
	justify-content: center;
	position: absolute;
	top: 27%;
    left: 66%;

}
.cartext{
	display: flex;
	justify-content: space-between;
	
    width: 490px;
    height: 315px;

}
.col{
	color: gray;
}
.rect{
	width: 900px ;
	height: 450px ;
	background-color: #000000;
	margin-left: 20px;
}
.bigcard{
	width: 60vw;
	height:max-content;
	background-color: #857f7f;
	margin: 0vw 20vw;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
	border-radius: 40px;
    padding: 3vw 0 vw ;
}
/* .hamzaGen {
	display: flex;
	flex-wrap: wrap;
} */
.card1{
	width: 531px;
    height: 45vh;
    background-color: #e91e63;
	border-radius: 40px;
	
}
.card2{
	width: 290px;
    height: 31vh;
    background-color: #75a8db;
	border-radius: 40px;
}
.card3{
	width: 290px;
    height: 7vh;
    background-color: #2f4153;
	border-radius: 40px;
}
.card23{
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	gap: 20px;
	position: relative;
	padding: 3vw 0vw;
	
}
.positionn{
	display: flex;
	justify-content: center;

}
.smallcard{
	width: 8vw;
	height: 3vw;
	background-color: #E7E6EE;

    border-radius: 9px

}
.type{
	display: flex;
	/* justify-content: center; */
	align-items: center;
}
.smallcards{
	display: flex;
	justify-content: space-evenly;
	flex-wrap:wrap ;

}













 /*  css */
 /*------------slide------------*/

 .fix{
    text-align: center;
    color: #1B173F;
    margin-top: 50px;
}
/* #moto{
	margin-left: 300px;
} */
.type img{
    height: 230px;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 40px;
}

p{
    color: #C2A859;
    font-family: 'Roboto',sans-serif;
    display: flex;
}
    
.type{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-bottom: -20px;
    height: 350px;

}

.slide{
    display: inline-block;
}

.slide:hover{
    height: 280px;
    border: 5px solid #a1a1a0;
}

.type::-webkit-scrollbar {
    display:none;
}

/*------------inputs------------*/

    /*------feul------*/
    .feul{
        color:#000000 ;
        text-align: center;
        margin-top: 2%;
        display: flex;
        justify-content: center;
    }

    .carburant{
        position: relative;
        left: 0.5em;
    } 

    /*------gear box------*/
    
    .gear-box{
        color:#000000 ;
        text-align: center;
        margin-top: 2%;
        display: flex;
        justify-content: center;
    }
    
    

    /*------duration------*/
    
    .duration{
        color:#030303 ;
        text-align: center;
        margin-top: 2%;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .submit-1 {
        margin-top: 5%;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .submit{
        background-color: #adadad;
        color: #1E1E1E;
        padding: 12px 21px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }


